<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>126967780750-grn3enbbchl3jq9i9a0maokj3tiu1575.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126967780750-grn3enbbchl3jq9i9a0maokj3tiu1575</string>
	<key>API_KEY</key>
	<string>AIzaSyCVW_GKaKkH0BlzdvXbjZO1J3eR38XUDdg</string>
	<key>GCM_SENDER_ID</key>
	<string>126967780750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.goallook</string>
	<key>PROJECT_ID</key>
	<string>goal-look</string>
	<key>STORAGE_BUCKET</key>
	<string>goal-look.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126967780750:ios:57626b0d64ede22a34c0df</string>
</dict>
</plist>